.navbar {
  &-header {
    flex-grow: 1;

    @media (max-width: $small-break) {
      text-align: center;
    }
  }

  &--auth {
    display: flex;
    &-login {
      margin-right: 8px !important;
    }

    @media (max-width: $small-break) {
      display: none;
    }
  }
}

.continue-with-facebook {
  width: 100%;
}

.drawer {
  &-auth-links {
    padding: 8px 16px;
  }

  &-auth-btn:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}